<div 
    class="bg-white text-black w-42 space-y-6 py-7 px-2 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out h-screen shadow font-jakarta">
    <a href="#" class="text-black flex items-center space-x-2 px-4">
        <img src="assets/mccain-logo.jpg"
            alt="McCain Logo" class="h-18 mx-auto">
    </a>
    <nav>
        <div class="flex items-center pl-2 hover:bg-gray-200 rounded transition">
            <img src="assets/dashboard.svg"
                alt="Dashboard Icon" class="h-5 w-5 ">
            <a href="/dashboard"
            class="block py-2.5 pl-2 rounded transition duration-200 hover:text-black">
            Dashboard
        </a>
        </div>
        <div class="flex items-center pl-2 hover:bg-gray-200 rounded transition">
            <img src="assets/myteam.svg"
                alt="My Team" class="h-5 w-5 ">
            <a href=""
            class="block py-2.5 pl-2 rounded transition duration-200 hover:text-black">
            My Team
        </a>
        </div>
        <div class="flex items-center pl-2 hover:bg-gray-200 rounded transition">
            <img src="assets/task-square.svg"
                alt="My Tasks" class="h-5 w-5 ">
            <a href=""
            class="block py-2.5 pl-2 rounded transition duration-200 hover:text-black">
            My Tasks
        </a>
        </div>
        <div class="flex items-center pl-2 hover:bg-gray-200 rounded transition">
            <img src="assets/setting.png"
                alt="Settings" class="h-5 w-5">
            <a href=""
            class="block py-2.5 pl-2 rounded transition duration-200 hover:text-black">
            Settings
        </a>
        </div>
        
    </nav>
</div>